### installation ###
build
dist

### extra ###
*.egg*
*pycache*
.ipynb_checkpoints
*__pycache__*
bin/.piscola.swp
.idea*

### src ###
src/piscola/sfddata-master

### docs ###
docs/_build

### tests ###
03D1au_fits.dat
03D1au_restframe_lcs.dat
