### piscola ##
# installation packages
build
dist
__pycache__
# extra 
*.egg-info
# extra files
test_piscola.ipynb

### src ##
src/*.egg-info
src/piscola/__pycache__
#src/piscola/filters
#!src/piscola/filters/Bessell/*
