### piscola ##
# installation packages
build
dist
__pycache__
# extra 
data
!data/sn2001cz.dat
obj
test_files
filters
!filters/Bessell/*
*.egg-info
# extra files
*.ipynb
!test_piscola.ipynb
*.csv
rcparams.pickle

### src ##
src/*.egg-info
src/piscola/filters
!src/piscola/filters/Bessell/*
src/piscola/__pycache__
